
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
    --main-bg-color: #1a1a1a;
    --accent-color-one: #0c0c0c;
    --accent-color-two:#121212;
    --highlight-color-one:#4f46e5;
    --highlight-color-two: #4338ca;
}
/* General scrollbar styles for webkit-based browsers */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;/* Light background for the track */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #4338ca; /* Gray thumb for similarity */
  border-radius: 6px;
  border: 3px solid #1a1a1a; /* Adds padding around thumb for a cleaner look */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Slightly darker on hover */
}

/* Styling for scrollbar in Firefox */
*{
scrollbar-color: #4338ca #1a1a1a;; /* Thumb color, Track color */
scrollbar-width: thin; /* Matches Firefox's thin scrollbar */
}
.caution-button {
    background-color: #eab308 !important; /* Yellow warning color */
    color: #1e1e1e; /* Dark text for contrast */
  }
  
  .caution-button:hover {
    background-color: #facc15; /* Brighter yellow on hover */
  }
  
  .caution-button:active {
    background-color: #d97706 !important;/* Slightly darker orange on click */
    box-shadow: none; /* Remove glow when pressed */
  }
  
  /* Subtle Pulsing Animation */
  @keyframes pulse {
    0% {
      box-shadow: 0 0 10px rgba(234, 179, 8, 0.5);
    }
    50% {
      box-shadow: 0 0 20px rgba(234, 179, 8, 0.7);
    }
    100% {
      box-shadow: 0 0 10px rgba(234, 179, 8, 0.5);
    }
  }